@page "/"
@using System.Net
@using CovidAlertTool.Shared
@inject HttpClient HttpClient

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="NewAccount">New Account</button>

<br/>

<input @bind="_input[0]"/>
<input @bind="_input[1]"/>
<input @bind="_input[2]"/>
<input @bind="_input[3]"/>
<input @bind="_input[4]"/>
<input @bind="_input[5]"/>
<input @bind="_input[6]"/>
<input @bind="_input[7]"/>
<input @bind="_input[8]"/>
<input @bind="_input[9]"/>
<input @bind="_input[10]"/>
<input @bind="_input[11]"/>

<button @onclick="SendLoc">Send location</button>
<button @onclick="DeleteAccount">Delete Account</button>

<p>Latitude - Degrees Minutes Seconds</p>
<input @bind="_latitude[0]"/>
<input @bind="_latitude[1]"/>
<input @bind="_latitude[2]"/>
<p>Longitude - Degrees Minutes Seconds</p>
<input @bind="_longitude[0]"/>
<input @bind="_longitude[1]"/>
<input @bind="_longitude[2]"/>

<button @onclick="GetAllLoc">Get all locations</button>

@code {
    
    private String[] _input = new String[12];
    private String[] _latitude = new String[3];
    private String[] _longitude = new String[3];

    private async void NewAccount()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("UserApi/New", "");
        while (response.StatusCode == HttpStatusCode.InternalServerError) response = await HttpClient.PostAsJsonAsync("UserApi/New", "");
    }

    private async void DeleteAccount()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("UserApi/Delete", _input);
    }
    
    private async void SendLoc()
    {
        var location = new NewLocation
        {
            Lat = $"{_latitude[0]}-{_latitude[1]}-{_latitude[2]}",
            Lon = $"{_longitude[0]}-{_longitude[1]}-{_longitude[2]}",
            T = DateTime.UtcNow,
            Key = _input
        };
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("LocationApi/New", location);
    }

    private async void GetAllLoc()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("LocationApi/Get", _input);
    }

}