@page "/"
@using System.Net
@using CovidAlertTool.Shared
@inject HttpClient HttpClient

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="NewAccount">New Account</button>

<br/>

<input @bind="_input[0]"/>
<input @bind="_input[1]"/>
<input @bind="_input[2]"/>
<input @bind="_input[3]"/>
<input @bind="_input[4]"/>
<input @bind="_input[5]"/>
<input @bind="_input[6]"/>
<input @bind="_input[7]"/>
<input @bind="_input[8]"/>
<input @bind="_input[9]"/>
<input @bind="_input[10]"/>
<input @bind="_input[11]"/>

<button @onclick="SendLoc">Send location</button>
<button @onclick="DeleteAccount">Delete Account</button>

<p>Latitude - Degrees Minutes Seconds</p>
<input @bind="_latD"/>
<input @bind="_latM"/>
<input @bind="_latS"/>
<p>Longitude - Degrees Minutes Seconds</p>
<input @bind="_lonD"/>
<input @bind="_lonM"/>
<input @bind="_lonS"/>

<button @onclick="GetAllLoc">Get all locations</button>

@code {
    
    private String[] _input = new String[12];
    private String _latD, _latM, _latS;
    private String _lonD, _lonM, _lonS;

    private async void NewAccount()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("UserApi/New", "");
        while (response.StatusCode == HttpStatusCode.InternalServerError) response = await HttpClient.PostAsJsonAsync("UserApi/New", "");
    }

    private async void DeleteAccount()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("UserApi/Delete", _input);
    }
    
    private async void SendLoc()
    {
        var location = new NewLocation();
        location.Key = _input;
        if (D(_latD) < 0d) location.Latitude = D(_latD) - D(_latM) / 60 - D(_latS) / 3600;
        else location.Latitude = D(_latD) + D(_latM) / 60 + D(_latS) / 3600;
        if (D(_lonD) < 0d) location.Longitude = D(_lonD) - D(_lonM) / 60 - D(_lonS) / 3600;
        else location.Longitude = D(_lonD) + D(_lonM) / 60 + D(_lonS) / 3600;
        location.Name = DateTime.UtcNow;
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("LocationApi/New", location);
    }

    private static Double D(String str) // Convert to double, for code cleanliness (typing Double.Parse every time will get messy)
    {
        return Double.Parse(str);
    }

    private async void GetAllLoc()
    {
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("LocationApi/Get", _input);
    }

}