@inherits LayoutComponentBase

<header>
    <TopNavbar></TopNavbar>
</header>

<div class="page">
    <div class="content px-4">
        @Body
    </div>
</div>

<style>
    body {
        background: #212529;
    }
    
    p {
    }
</style>